{% extends "layout.html" %}

{% block body %}
<div class="jumbotron">
    <h1 class="display-4">Minimisez les contacts. Maximisez les sourires 😊</h1>
    <p class="lead">Effectuez le tracking clients de manière plus sûre et efficace.</p>
    <hr class="my-4">
    <p>En utilisant <em>covidtrack.be</em>, fini la collecte des coordonées de vos clients sur une feuille de paier : 
        <ul>
            <li>Suppression <strong>automatique</strong> des données après les 14 jours réglementaires.</li>
            <li>En cas de nécessité, récupérez la liste des clients en un click.</li>
            <li>QR code customisable et stylisé, en harmonie avec le thème de votre établissement.</li>
        </ul>
    </p>

    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
  </div>
{% endblock %}
